<%= form_with(model: tags_repository) do |form| %>
  <% if tags_repository.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tags_repository.errors.count, "error") %> prohibited this tags_repository from being saved:</h2>

      <ul>
        <% tags_repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :name_wearos, style: "display: block" %>
    <%= form.text_field :name_wearos %>
  </div>

  <div class="form-group" data-uppy="tags_repository[icon]">
    <%= form.label :icon %>
    <div>
      <% if @tags_repository.icon.attached? %>
        <%= image_tag @tags_repository.icon, width: 280, data: { behavior: 'uppy-preview' } %>
      <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY" width="280" data-behavior="uppy-preview" />
      <% end %>
    </div>

    <%= link_to "Upload", "#", data: { behavior: "uppy-trigger" } %>
  </div>

  <div id="pick-files"></div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
