<div id="<%= dom_id tags_repository %>">
  <p>
    <strong>Name:</strong>
    <%= tags_repository.name %>
  </p>

  <p>
    <strong>Name wearos:</strong>
    <%= tags_repository.name_wearos %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= tags_repository.image_data %>
  </p>

  <%= image_tag(tags_repository.photo, width: 200) if tags_repository.photo.attached? %>

</div>
