<p style="color: green"><%= notice %></p>

<%= render @tags_repository %>

<div>
  <%= link_to "Edit this tags repository", edit_tags_repository_path(@tags_repository) %> |
  <%= link_to "Back to tags repositories", tags_repositories_path %>

  <%= button_to "Destroy this tags repository", @tags_repository, method: :delete %>
</div>
