<%= form_with(model: gps_measure) do |form| %>
  <% if gps_measure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gps_measure.errors.count, "error") %> prohibited this gps_measure from being saved:</h2>

      <ul>
        <% gps_measure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :measurement, style: "display: block" %>
    <%= form.text_field :measurement %>
  </div>

  <div>
    <%= form.label :activity_id, style: "display: block" %>
    <%= form.text_field :activity_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
