<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Añadir etiqueta</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= form_with(model: tags, url: tags_repositories_path, method: :post, local: true, scope: :tags_repositories) do |form| %>
<div class="modal-body">
  <div class="mb-3">
    <%= form.label 'Nombre', style: "col-form-label" %>
    <%= form.text_field :name, :class => 'form-control', :required => true, :autocomplete => "disabled" %>
  </div>

  <div class="mb-3">
    <%= form.label 'Nombre que aparecerá en el reloj', style: "col-form-label" %>
    <%= form.email_field :email, :class => 'form-control', :required => true, :autocomplete => "disabled" %>
  </div>

  <div class="mb-3">
    <%= form.label 'Seleccione imagen o suba una personalizada', style: "col-form-label" %>
    <%= form.file_field :image, :class => 'form-control' %>
    <%#= form.password_field :password_digest, :class => 'form-control', :required => true, :autocomplete => "disabled" %>
  </div>
  <%= hidden_field_tag "user[account_id]", "#{current_account.id}" %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  <%= form.submit 'Añadir', :class => 'btn btn-success', :id => 'addUserModalButton' %>
</div>
<% end %>