<%= render "layouts/dashboard" %>
<%= stylesheet_link_tag 'create_user' %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Asigna las actividades de <%= @user.name %></h2>
  </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
          </th>
          <th>
            Asignada
          </th>
          <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <% @all_activities.each do |activity| %>
          <tr>
            <td></td>
            <td>
              <input type="checkbox" class="form-check-input" id="activity_<%= activity.id %>" value="<%= activity.id %>" <%= 'checked' if @assigned_activities.include?(activity.id) %>>
            </td>
            <td><%= activity.name %></td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</main>

<script>
    function handleCheckboxes() {
        const checkboxes = document.querySelectorAll('.form-check-input');

        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('click', function (event) {
                const activityId = event.target.value;
                const userId = '<%= @user.id %>';

                if (event.target.checked) {
                    // Send AJAX request to create new ActivityAssignation
                    fetch(`/dashboard/user/${userId}/activity_assignations`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                        },
                        body: JSON.stringify({ activity_id: activityId })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (!data.success) {
                                console.error('Error creating ActivityAssignation:', data.errors);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                } else {
                    // Send AJAX request to remove ActivityAssignation
                    fetch(`/dashboard/user/${userId}/activity_assignations`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                        },
                        body: JSON.stringify({ activity_id: activityId })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (!data.success) {
                                console.error('Error removing ActivityAssignation:', data.errors);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });
    }

    document.addEventListener('turbo:load', handleCheckboxes);
</script>
