<%= render "layouts/dashboard" %>
<%= stylesheet_link_tag 'create_user.css' %>
<% if @users.nil? %>
<% @users = User.all %>
<% end %>


<script>
    function copy(inputname) {
        /* Get the text field */
        var copyText = document.getElementById(inputname);
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copiada la clave API: " + copyText.value);
    }

    function togglePassword(inputname){
        var x = document.getElementById(inputname);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Usuarios registrados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      <button id="addUserButton" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Añadir</button>
      </div>
    </div>
  </div>
  <%= form_tag(dashboard_search_user_path, method: :get) do %>

  <div class="input-group">
    <%= text_field_tag(:search, params[:search], :class => 'form-control rounded', :placeholder => 'Buscar usuario') %>
    <%= submit_tag ("BUSCAR"), :class => 'btn btn-outline-primary' %>
  </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th scope="col">Nombre</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= user.name %></td>
          <td>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editUserModal<%= user.id %>">
                  <i data-feather="edit" class="icon icon-show"></i>
                </button>
                <div id="editUserModal<%= user.id %>" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <%= render "form_edit_user", usuario: user %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <%= button_to user, method: :delete, :class => 'btn btn-outline-danger', form: {data: {turbo_confirm: '¿Estás seguro de querer eliminar al usuario?'}} do%>
                  <i data-feather="trash-2" class="icon icon-show"></i>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="addUserModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render "form_create_user", user: @user %>
      </div>
    </div>
  </div>

</main>

