<%#= render "layouts/dashboard" %>
<%= render "layouts/navbar" %>
<%= stylesheet_link_tag 'create_user' %>
<% @activities = get_activities.includes(:activities_repository) %>
<% @activities_by_name = @activities.group_by { |a| a.activities_repository } %>

<main class="ms-sm-auto px-md-4">
  <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <%= link_to dashboard_activity_user_path, :class => 'btn btn-sm btn-outline-secondary' do %>
          <i data-feather="arrow-left-circle" class="icon icon-show"></i>
        <% end %>
      </div>
    </div>
    <h2>Actividades de <%= @user.name %> </h2>
  </div>

  <%- if @activities.size > 0 %>
    <h3>Seleccione un tipo de actividad</h3>
    <%= form_tag(dashboard_search_user_activity_path, method: :get) do %>

      <div class="input-group">
        <%= text_field_tag(:search, params[:search], :class => 'form-control rounded', :placeholder => 'Buscar un tipo de actividad') %>
        <%= submit_tag ("BUSCAR"), :class => 'btn btn-outline-primary' %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
        <tr>
          <th>
          </th>
          <th scope="col">Icono</th>
          <th scope="col">Tipo de actividad</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @activities_by_name.each do |activity_repository, activities| %>
          <tr>
            <td>
            </td>
            <td>
              <%= image_tag(activity_repository.icon, alt: "", width: 48, height: 48) if activity_repository.icon.attached? %>
            </td>
            <td><%= activity_repository.name %></td>
            <td>

            <%= link_to dashboard_view_activity_type_url(activity_type: activity_repository.id), :class => 'btn btn-outline-primary' do%>
                <i data-feather="eye" class="icon icon-show"></i>
            <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <%- else %>
    <div class="card">
      <h5 class="card-header text-danger">Aviso</h5>
      <div class="card-body">
        <h5 class="card-title">El usuario aún no tiene ninguna medida</h5>
        <p class="card-text">Puede comenzar a medir en cualquier momento. Tan solo debe abrir la aplicación del reloj y comenzar la medición</p>
      </div>
    </div>
  <%- end %>

</main>

